
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Heebo'), local('Heebo-Thin'),
    url('../fonts/Heebo-Thin.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Heebo-Thin.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Heebo-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Heebo-Thin.svg#Heebo-Thin') format('svg'); /* Legacy iOS */
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;/* Hebrew */
}

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Heebo'), local('Heebo-Light'),
    url('../fonts/Heebo-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Heebo-Light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Heebo-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Heebo-Light.svg#Heebo-Light') format('svg'); /* Legacy iOS */
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;/* Hebrew */
}

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Heebo'), local('Heebo-Regular'),
    url('../fonts/Heebo-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Heebo-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Heebo-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Heebo-Regular.svg#Heebo-Regular') format('svg'); /* Legacy iOS */
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;/* Hebrew */
}

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Heebo'), local('Heebo-Medium'),
    url('../fonts/Heebo-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Heebo-Medium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Heebo-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Heebo-Medium.svg#Heebo-Medium') format('svg'); /* Legacy iOS */
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;/* Hebrew */
}

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Heebo'), local('Heebo-Bold'),
    url('../fonts/Heebo-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Heebo-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Heebo-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Heebo-Bold.svg#Heebo-Bold') format('svg'); /* Legacy iOS */
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;/* Hebrew */
}

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Heebo'), local('Heebo-Extra-Bold'),
    url('../fonts/Heebo-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Heebo-ExtraBold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Heebo-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Heebo-ExtraBold.svg#Heebo-Extra-Bold') format('svg'); /* Legacy iOS */
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;/* Hebrew */
}

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Heebo'), local('Heebo-Black'),
    url('../fonts/Heebo-Black.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Heebo-Black.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Heebo-Black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Heebo-Black.svg#Heebo-Black') format('svg'); /* Legacy iOS */
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;/* Hebrew */
}
body{
    font-family: 'Heebo' , sans-serif;
}