<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>G.smcp</key>
      <integer>-11</integer>
      <key>O</key>
      <integer>-11</integer>
      <key>O.smcp</key>
      <integer>-11</integer>
      <key>T</key>
      <integer>-129</integer>
      <key>T.smcp</key>
      <integer>-57</integer>
      <key>U</key>
      <integer>-17</integer>
      <key>U.smcp</key>
      <integer>-15</integer>
      <key>V</key>
      <integer>-87</integer>
      <key>V.smcp</key>
      <integer>-51</integer>
      <key>W</key>
      <integer>-69</integer>
      <key>W.smcp</key>
      <integer>-35</integer>
      <key>Y</key>
      <integer>-94</integer>
      <key>Y.smcp</key>
      <integer>-60</integer>
      <key>o</key>
      <integer>-12</integer>
      <key>question</key>
      <integer>-61</integer>
      <key>quotesingle</key>
      <integer>-120</integer>
      <key>t</key>
      <integer>-17</integer>
      <key>u</key>
      <integer>-11</integer>
      <key>v</key>
      <integer>-50</integer>
      <key>w</key>
      <integer>-33</integer>
      <key>z</key>
      <integer>12</integer>
    </dict>
    <key>A.smcp</key>
    <dict>
      <key>C.smcp</key>
      <integer>-14</integer>
      <key>G.smcp</key>
      <integer>-14</integer>
      <key>O.smcp</key>
      <integer>-14</integer>
      <key>Q.smcp</key>
      <integer>-14</integer>
      <key>T.smcp</key>
      <integer>-64</integer>
      <key>U.smcp</key>
      <integer>-20</integer>
      <key>V.smcp</key>
      <integer>-57</integer>
      <key>W.smcp</key>
      <integer>-40</integer>
      <key>Y.smcp</key>
      <integer>-65</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>T</key>
      <integer>-27</integer>
      <key>V</key>
      <integer>-24</integer>
      <key>Y</key>
      <integer>-55</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>T</key>
      <integer>-29</integer>
      <key>braceright</key>
      <integer>-17</integer>
      <key>bracketright</key>
      <integer>-12</integer>
      <key>parenright</key>
      <integer>-26</integer>
    </dict>
    <key>D.smcp</key>
    <dict>
      <key>V.smcp</key>
      <integer>-18</integer>
      <key>W.smcp</key>
      <integer>-11</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>T</key>
      <integer>20</integer>
      <key>V.smcp</key>
      <integer>-16</integer>
      <key>W.smcp</key>
      <integer>-19</integer>
      <key>Y.smcp</key>
      <integer>-16</integer>
      <key>c</key>
      <integer>-19</integer>
      <key>f</key>
      <integer>-18</integer>
      <key>o</key>
      <integer>-19</integer>
      <key>u</key>
      <integer>-17</integer>
      <key>v</key>
      <integer>-26</integer>
      <key>w</key>
      <integer>-22</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-170</integer>
      <key>A.smcp</key>
      <integer>-64</integer>
      <key>J</key>
      <integer>-264</integer>
      <key>T</key>
      <integer>20</integer>
      <key>a</key>
      <integer>-34</integer>
      <key>c</key>
      <integer>-21</integer>
      <key>o</key>
      <integer>-21</integer>
      <key>period</key>
      <integer>-234</integer>
      <key>r</key>
      <integer>-26</integer>
      <key>u</key>
      <integer>-22</integer>
      <key>v</key>
      <integer>-24</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>A</key>
      <integer>18</integer>
      <key>T</key>
      <integer>-29</integer>
      <key>X</key>
      <integer>17</integer>
      <key>Y</key>
      <integer>-28</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>C.smcp</key>
      <integer>-24</integer>
      <key>G.smcp</key>
      <integer>-26</integer>
      <key>O</key>
      <integer>-31</integer>
      <key>O.smcp</key>
      <integer>-25</integer>
      <key>Q.smcp</key>
      <integer>-25</integer>
      <key>c</key>
      <integer>-26</integer>
      <key>hyphen</key>
      <integer>-64</integer>
      <key>n</key>
      <integer>-23</integer>
      <key>o</key>
      <integer>-27</integer>
      <key>u</key>
      <integer>-23</integer>
      <key>v</key>
      <integer>-40</integer>
      <key>w</key>
      <integer>-63</integer>
    </dict>
    <key>K.smcp</key>
    <dict>
      <key>O.smcp</key>
      <integer>-21</integer>
      <key>Q.smcp</key>
      <integer>-21</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>A</key>
      <integer>19</integer>
      <key>A.smcp</key>
      <integer>19</integer>
      <key>C.smcp</key>
      <integer>-13</integer>
      <key>G.smcp</key>
      <integer>-15</integer>
      <key>O</key>
      <integer>-65</integer>
      <key>O.smcp</key>
      <integer>-14</integer>
      <key>Q.smcp</key>
      <integer>-15</integer>
      <key>T</key>
      <integer>-275</integer>
      <key>T.smcp</key>
      <integer>-197</integer>
      <key>U</key>
      <integer>-54</integer>
      <key>U.smcp</key>
      <integer>-38</integer>
      <key>V</key>
      <integer>-175</integer>
      <key>V.smcp</key>
      <integer>-172</integer>
      <key>W</key>
      <integer>-143</integer>
      <key>W.smcp</key>
      <integer>-111</integer>
      <key>Y</key>
      <integer>-239</integer>
      <key>Y.smcp</key>
      <integer>-193</integer>
      <key>quotesingle</key>
      <integer>-336</integer>
      <key>u</key>
      <integer>-44</integer>
      <key>v</key>
      <integer>-133</integer>
      <key>w</key>
      <integer>-92</integer>
    </dict>
    <key>L.smcp</key>
    <dict>
      <key>O.smcp</key>
      <integer>-17</integer>
      <key>Q.smcp</key>
      <integer>-16</integer>
      <key>T.smcp</key>
      <integer>-69</integer>
      <key>U.smcp</key>
      <integer>-20</integer>
      <key>V.smcp</key>
      <integer>-73</integer>
      <key>W.smcp</key>
      <integer>-43</integer>
      <key>Y.smcp</key>
      <integer>-76</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>A</key>
      <integer>-21</integer>
      <key>A.smcp</key>
      <integer>-19</integer>
      <key>AE</key>
      <integer>-33</integer>
      <key>T</key>
      <integer>-27</integer>
      <key>V</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-22</integer>
      <key>X.smcp</key>
      <integer>-11</integer>
      <key>Y</key>
      <integer>-43</integer>
      <key>Z</key>
      <integer>-23</integer>
      <key>period</key>
      <integer>-102</integer>
    </dict>
    <key>O.smcp</key>
    <dict>
      <key>T.smcp</key>
      <integer>-18</integer>
      <key>V.smcp</key>
      <integer>-15</integer>
      <key>X.smcp</key>
      <integer>-20</integer>
      <key>Y.smcp</key>
      <integer>-22</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-138</integer>
      <key>A.smcp</key>
      <integer>-58</integer>
      <key>AE</key>
      <integer>-97</integer>
      <key>J</key>
      <integer>-200</integer>
      <key>X</key>
      <integer>-31</integer>
      <key>Z</key>
      <integer>-26</integer>
      <key>a</key>
      <integer>-11</integer>
      <key>c</key>
      <integer>-13</integer>
      <key>o</key>
      <integer>-13</integer>
      <key>period</key>
      <integer>-324</integer>
      <key>t</key>
      <integer>14</integer>
      <key>v</key>
      <integer>15</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>A.smcp</key>
      <integer>14</integer>
      <key>T</key>
      <integer>-43</integer>
      <key>V</key>
      <integer>-28</integer>
      <key>W</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-35</integer>
    </dict>
    <key>Q.smcp</key>
    <dict>
      <key>T.smcp</key>
      <integer>-23</integer>
      <key>V.smcp</key>
      <integer>-21</integer>
      <key>W.smcp</key>
      <integer>-15</integer>
      <key>Y.smcp</key>
      <integer>-27</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>T</key>
      <integer>-80</integer>
      <key>V</key>
      <integer>-19</integer>
      <key>Y</key>
      <integer>-48</integer>
    </dict>
    <key>R.smcp</key>
    <dict>
      <key>T.smcp</key>
      <integer>-14</integer>
      <key>V.smcp</key>
      <integer>-15</integer>
      <key>W.smcp</key>
      <integer>-11</integer>
      <key>Y.smcp</key>
      <integer>-18</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-79</integer>
      <key>A.smcp</key>
      <integer>-81</integer>
      <key>AE</key>
      <integer>-179</integer>
      <key>C.smcp</key>
      <integer>-71</integer>
      <key>G.smcp</key>
      <integer>-71</integer>
      <key>J</key>
      <integer>-240</integer>
      <key>O</key>
      <integer>-28</integer>
      <key>O.smcp</key>
      <integer>-71</integer>
      <key>Q.smcp</key>
      <integer>-71</integer>
      <key>S</key>
      <integer>-16</integer>
      <key>S.smcp</key>
      <integer>-68</integer>
      <key>T</key>
      <integer>16</integer>
      <key>T.smcp</key>
      <integer>-15</integer>
      <key>V</key>
      <integer>16</integer>
      <key>W</key>
      <integer>15</integer>
      <key>W.smcp</key>
      <integer>-15</integer>
      <key>X.smcp</key>
      <integer>-19</integer>
      <key>Y</key>
      <integer>16</integer>
      <key>a</key>
      <integer>-113</integer>
      <key>ae</key>
      <integer>-114</integer>
      <key>c</key>
      <integer>-99</integer>
      <key>guillemotleft</key>
      <integer>-328</integer>
      <key>guillemotright</key>
      <integer>-216</integer>
      <key>hyphen</key>
      <integer>-232</integer>
      <key>n</key>
      <integer>-109</integer>
      <key>o</key>
      <integer>-99</integer>
      <key>oslash</key>
      <integer>-95</integer>
      <key>period</key>
      <integer>-218</integer>
      <key>r</key>
      <integer>-75</integer>
      <key>s</key>
      <integer>-116</integer>
      <key>space</key>
      <integer>-40</integer>
      <key>u</key>
      <integer>-95</integer>
      <key>v</key>
      <integer>-72</integer>
      <key>w</key>
      <integer>-57</integer>
      <key>x</key>
      <integer>-77</integer>
      <key>z</key>
      <integer>-60</integer>
    </dict>
    <key>T.smcp</key>
    <dict>
      <key>V.smcp</key>
      <integer>13</integer>
      <key>Y.smcp</key>
      <integer>13</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>A</key>
      <integer>-22</integer>
      <key>A.smcp</key>
      <integer>-21</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-75</integer>
      <key>A.smcp</key>
      <integer>-76</integer>
      <key>C.smcp</key>
      <integer>-39</integer>
      <key>G.smcp</key>
      <integer>-39</integer>
      <key>O</key>
      <integer>-13</integer>
      <key>O.smcp</key>
      <integer>-39</integer>
      <key>Q.smcp</key>
      <integer>-39</integer>
      <key>a</key>
      <integer>-46</integer>
      <key>braceright</key>
      <integer>19</integer>
      <key>bracketright</key>
      <integer>17</integer>
      <key>c</key>
      <integer>-44</integer>
      <key>hyphen</key>
      <integer>-37</integer>
      <key>o</key>
      <integer>-46</integer>
      <key>parenright</key>
      <integer>20</integer>
      <key>period</key>
      <integer>-225</integer>
      <key>r</key>
      <integer>-30</integer>
      <key>u</key>
      <integer>-28</integer>
      <key>v</key>
      <integer>-11</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-43</integer>
      <key>A.smcp</key>
      <integer>-53</integer>
      <key>C.smcp</key>
      <integer>-23</integer>
      <key>G.smcp</key>
      <integer>-25</integer>
      <key>O.smcp</key>
      <integer>-25</integer>
      <key>Q.smcp</key>
      <integer>-25</integer>
      <key>T</key>
      <integer>14</integer>
      <key>a</key>
      <integer>-33</integer>
      <key>braceright</key>
      <integer>14</integer>
      <key>bracketright</key>
      <integer>12</integer>
      <key>c</key>
      <integer>-31</integer>
      <key>hyphen</key>
      <integer>-60</integer>
      <key>o</key>
      <integer>-31</integer>
      <key>parenright</key>
      <integer>15</integer>
      <key>period</key>
      <integer>-123</integer>
      <key>r</key>
      <integer>-21</integer>
      <key>u</key>
      <integer>-19</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>C.smcp</key>
      <integer>-23</integer>
      <key>G.smcp</key>
      <integer>-25</integer>
      <key>O</key>
      <integer>-25</integer>
      <key>O.smcp</key>
      <integer>-25</integer>
      <key>Q.smcp</key>
      <integer>-23</integer>
      <key>V</key>
      <integer>14</integer>
      <key>c</key>
      <integer>-26</integer>
      <key>hyphen</key>
      <integer>-46</integer>
      <key>o</key>
      <integer>-21</integer>
      <key>u</key>
      <integer>-21</integer>
      <key>v</key>
      <integer>-31</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-94</integer>
      <key>A.smcp</key>
      <integer>-85</integer>
      <key>AE</key>
      <integer>-96</integer>
      <key>C.smcp</key>
      <integer>-51</integer>
      <key>G.smcp</key>
      <integer>-53</integer>
      <key>J</key>
      <integer>-96</integer>
      <key>O</key>
      <integer>-29</integer>
      <key>O.smcp</key>
      <integer>-53</integer>
      <key>Q.smcp</key>
      <integer>-53</integer>
      <key>S</key>
      <integer>-16</integer>
      <key>T</key>
      <integer>17</integer>
      <key>T.smcp</key>
      <integer>-13</integer>
      <key>U</key>
      <integer>-96</integer>
      <key>V</key>
      <integer>18</integer>
      <key>W</key>
      <integer>17</integer>
      <key>W.smcp</key>
      <integer>-13</integer>
      <key>X</key>
      <integer>13</integer>
      <key>X.smcp</key>
      <integer>-17</integer>
      <key>Y</key>
      <integer>18</integer>
      <key>a</key>
      <integer>-73</integer>
      <key>ae</key>
      <integer>-63</integer>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-49</integer>
      <key>braceright</key>
      <integer>19</integer>
      <key>bracketright</key>
      <integer>18</integer>
      <key>bullet</key>
      <integer>-45</integer>
      <key>c</key>
      <integer>-65</integer>
      <key>f</key>
      <integer>-22</integer>
      <key>guillemotleft</key>
      <integer>-82</integer>
      <key>guillemotright</key>
      <integer>-51</integer>
      <key>hyphen</key>
      <integer>-52</integer>
      <key>n</key>
      <integer>-40</integer>
      <key>o</key>
      <integer>-65</integer>
      <key>oslash</key>
      <integer>-64</integer>
      <key>parenright</key>
      <integer>20</integer>
      <key>period</key>
      <integer>-211</integer>
      <key>r</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-58</integer>
      <key>t</key>
      <integer>-22</integer>
      <key>u</key>
      <integer>-39</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-23</integer>
      <key>z</key>
      <integer>-30</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>A</key>
      <integer>13</integer>
      <key>A.smcp</key>
      <integer>13</integer>
      <key>C.smcp</key>
      <integer>-19</integer>
      <key>G.smcp</key>
      <integer>-21</integer>
      <key>O</key>
      <integer>-26</integer>
      <key>O.smcp</key>
      <integer>-20</integer>
      <key>Q.smcp</key>
      <integer>-20</integer>
      <key>c</key>
      <integer>-21</integer>
      <key>o</key>
      <integer>-21</integer>
      <key>u</key>
      <integer>-19</integer>
      <key>v</key>
      <integer>-27</integer>
      <key>w</key>
      <integer>-27</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>quotesingle</key>
      <integer>-67</integer>
      <key>v</key>
      <integer>-15</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>quotesingle</key>
      <integer>-29</integer>
      <key>v</key>
      <integer>-11</integer>
      <key>x</key>
      <integer>-15</integer>
      <key>z</key>
      <integer>-15</integer>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>J</key>
      <integer>-20</integer>
      <key>U</key>
      <integer>-20</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>J</key>
      <integer>-18</integer>
      <key>U</key>
      <integer>-18</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>quotesingle</key>
      <integer>-11</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
      <key>quotesingle</key>
      <integer>-14</integer>
      <key>v</key>
      <integer>-13</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>braceright</key>
      <integer>19</integer>
      <key>bracketright</key>
      <integer>18</integer>
      <key>c</key>
      <integer>-24</integer>
      <key>parenright</key>
      <integer>20</integer>
      <key>quotesingle</key>
      <integer>16</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>c</key>
      <integer>-20</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
      <key>quotesingle</key>
      <integer>-104</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
      <key>quotesingle</key>
      <integer>-136</integer>
      <key>v</key>
      <integer>-15</integer>
      <key>x</key>
      <integer>-21</integer>
      <key>z</key>
      <integer>-16</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>V</key>
      <integer>20</integer>
      <key>W</key>
      <integer>18</integer>
      <key>Y</key>
      <integer>22</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>quotesingle</key>
      <integer>-170</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>l</key>
      <integer>32</integer>
      <key>o</key>
      <integer>-128</integer>
      <key>s</key>
      <integer>-112</integer>
    </dict>
    <key>quotesingle</key>
    <dict>
      <key>A</key>
      <integer>-120</integer>
      <key>a</key>
      <integer>-50</integer>
      <key>c</key>
      <integer>-59</integer>
      <key>n</key>
      <integer>-20</integer>
      <key>o</key>
      <integer>-61</integer>
      <key>quotesingle</key>
      <integer>-107</integer>
      <key>s</key>
      <integer>-80</integer>
      <key>w</key>
      <integer>11</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>a</key>
      <integer>-40</integer>
      <key>c</key>
      <integer>-19</integer>
      <key>f</key>
      <integer>15</integer>
      <key>o</key>
      <integer>-20</integer>
      <key>period</key>
      <integer>-123</integer>
      <key>quotesingle</key>
      <integer>16</integer>
      <key>t</key>
      <integer>50</integer>
      <key>v</key>
      <integer>18</integer>
      <key>w</key>
      <integer>17</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>slash</key>
      <integer>-224</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>T</key>
      <integer>-40</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>o</key>
      <integer>-20</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>a</key>
      <integer>-15</integer>
      <key>c</key>
      <integer>-13</integer>
      <key>f</key>
      <integer>13</integer>
      <key>o</key>
      <integer>-15</integer>
      <key>period</key>
      <integer>-107</integer>
      <key>quotesingle</key>
      <integer>15</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>period</key>
      <integer>-124</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>c</key>
      <integer>-20</integer>
      <key>o</key>
      <integer>-20</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>c</key>
      <integer>-16</integer>
      <key>o</key>
      <integer>-16</integer>
    </dict>
  </dict>
</plist>
