<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.null</key>
    <string>_null.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.smcp</key>
    <string>A_.smcp.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.smcp</key>
    <string>A_E_.smcp.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Aacute.smcp</key>
    <string>A_acute.smcp.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Acircumflex.smcp</key>
    <string>A_circumflex.smcp.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adieresis.smcp</key>
    <string>A_dieresis.smcp.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Agrave.smcp</key>
    <string>A_grave.smcp.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Aring.smcp</key>
    <string>A_ring.smcp.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Atilde.smcp</key>
    <string>A_tilde.smcp.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.smcp</key>
    <string>B_.smcp.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.smcp</key>
    <string>C_.smcp.glif</string>
    <key>C.ss06</key>
    <string>C_.ss06.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccedilla.smcp</key>
    <string>C_cedilla.smcp.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.smcp</key>
    <string>D_.smcp.glif</string>
    <key>D.ss06</key>
    <string>D_.ss06.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.smcp</key>
    <string>E_.smcp.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Eacute.smcp</key>
    <string>E_acute.smcp.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Ecircumflex.smcp</key>
    <string>E_circumflex.smcp.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edieresis.smcp</key>
    <string>E_dieresis.smcp.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Egrave.smcp</key>
    <string>E_grave.smcp.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Eth.smcp</key>
    <string>E_th.smcp.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Euro.smcp</key>
    <string>E_uro.smcp.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.smcp</key>
    <string>F_.smcp.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.smcp</key>
    <string>G_.smcp.glif</string>
    <key>G.ss06</key>
    <string>G_.ss06.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Germandbls.smcp</key>
    <string>G_ermandbls.smcp.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.smcp</key>
    <string>H_.smcp.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.smcp</key>
    <string>I_.smcp.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Iacute.smcp</key>
    <string>I_acute.smcp.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Icircumflex.smcp</key>
    <string>I_circumflex.smcp.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idieresis.smcp</key>
    <string>I_dieresis.smcp.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Igrave.smcp</key>
    <string>I_grave.smcp.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.smcp</key>
    <string>J_.smcp.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.alt</key>
    <string>K_.alt.glif</string>
    <key>K.alt2</key>
    <string>K_.alt2.glif</string>
    <key>K.smcp</key>
    <string>K_.smcp.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.smcp</key>
    <string>L_.smcp.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.smcp</key>
    <string>M_.smcp.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.smcp</key>
    <string>N_.smcp.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ntilde.smcp</key>
    <string>N_tilde.smcp.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.smcp</key>
    <string>O_.smcp.glif</string>
    <key>O.ss06</key>
    <string>O_.ss06.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Oacute.smcp</key>
    <string>O_acute.smcp.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Ocircumflex.smcp</key>
    <string>O_circumflex.smcp.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odieresis.smcp</key>
    <string>O_dieresis.smcp.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ograve.smcp</key>
    <string>O_grave.smcp.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslash.smcp</key>
    <string>O_slash.smcp.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Otilde.smcp</key>
    <string>O_tilde.smcp.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.smcp</key>
    <string>P_.smcp.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.smcp</key>
    <string>Q_.smcp.glif</string>
    <key>Q.ss06</key>
    <string>Q_.ss06.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.alt</key>
    <string>R_.alt.glif</string>
    <key>R.smcp</key>
    <string>R_.smcp.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.smcp</key>
    <string>S_.smcp.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.smcp</key>
    <string>T_.smcp.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Thorn.smcp</key>
    <string>T_horn.smcp.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.smcp</key>
    <string>U_.smcp.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Uacute.smcp</key>
    <string>U_acute.smcp.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Ucircumflex.smcp</key>
    <string>U_circumflex.smcp.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Udieresis.smcp</key>
    <string>U_dieresis.smcp.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Ugrave.smcp</key>
    <string>U_grave.smcp.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.smcp</key>
    <string>V_.smcp.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.smcp</key>
    <string>W_.smcp.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.smcp</key>
    <string>X_.smcp.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.smcp</key>
    <string>Y_.smcp.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Yacute.smcp</key>
    <string>Y_acute.smcp.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z.smcp</key>
    <string>Z_.smcp.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>afii300</key>
    <string>afii300.glif</string>
    <key>afii57596</key>
    <string>afii57596.glif</string>
    <key>afii57598</key>
    <string>afii57598.glif</string>
    <key>afii61664</key>
    <string>afii61664.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>alefdageshhebrew</key>
    <string>alefdageshhebrew.glif</string>
    <key>alefhebrew</key>
    <string>alefhebrew.glif</string>
    <key>aleflamedhebrew</key>
    <string>aleflamedhebrew.glif</string>
    <key>alefpatahhebrew</key>
    <string>alefpatahhebrew.glif</string>
    <key>alefqamatshebrew</key>
    <string>alefqamatshebrew.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>alpha.alt</key>
    <string>alpha.alt.glif</string>
    <key>alternativeplushebrew</key>
    <string>alternativeplushebrew.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.smcp</key>
    <string>ampersand.smcp.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>ayinaltonehebrew</key>
    <string>ayinaltonehebrew.glif</string>
    <key>ayinhebrew</key>
    <string>ayinhebrew.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.ss06</key>
    <string>b.ss06.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>betdageshhebrew</key>
    <string>betdageshhebrew.glif</string>
    <key>bethebrew</key>
    <string>bethebrew.glif</string>
    <key>betrafehebrew</key>
    <string>betrafehebrew.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.ss06</key>
    <string>c.ss06.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>crossbar</key>
    <string>crossbar.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.ss06</key>
    <string>d.ss06.glif</string>
    <key>dageshhebrew</key>
    <string>dageshhebrew.glif</string>
    <key>daletdageshhebrew</key>
    <string>daletdageshhebrew.glif</string>
    <key>dalethebrew</key>
    <string>dalethebrew.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.smcp</key>
    <string>dollar.smcp.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.ss07</key>
    <string>e.ss07.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.frac</key>
    <string>eight.frac.glif</string>
    <key>eight.smcp</key>
    <string>eight.smcp.glif</string>
    <key>eight.sup</key>
    <string>eight.sup.glif</string>
    <key>eight.tnum</key>
    <string>eight.tnum.glif</string>
    <key>eightsub</key>
    <string>eightsub.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>finalkafdageshhebrew</key>
    <string>finalkafdageshhebrew.glif</string>
    <key>finalkafhebrew</key>
    <string>finalkafhebrew.glif</string>
    <key>finalmemhebrew</key>
    <string>finalmemhebrew.glif</string>
    <key>finalnunhebrew</key>
    <string>finalnunhebrew.glif</string>
    <key>finalpedageshhebrew</key>
    <string>finalpedageshhebrew.glif</string>
    <key>finalpehebrew</key>
    <string>finalpehebrew.glif</string>
    <key>finaltsadihebrew</key>
    <string>finaltsadihebrew.glif</string>
    <key>finalwidememhebrew</key>
    <string>finalwidememhebrew.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.frac</key>
    <string>five.frac.glif</string>
    <key>five.smcp</key>
    <string>five.smcp.glif</string>
    <key>five.sup</key>
    <string>five.sup.glif</string>
    <key>five.tnum</key>
    <string>five.tnum.glif</string>
    <key>fivesub</key>
    <string>fivesub.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.frac</key>
    <string>four.frac.glif</string>
    <key>four.smcp</key>
    <string>four.smcp.glif</string>
    <key>four.sup</key>
    <string>four.sup.glif</string>
    <key>four.tnum</key>
    <string>four.tnum.glif</string>
    <key>foursub</key>
    <string>foursub.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>g.ss06</key>
    <string>g.ss06.glif</string>
    <key>g.ss07</key>
    <string>g.ss07.glif</string>
    <key>gereshhebrew</key>
    <string>gereshhebrew.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gershayimhebrew</key>
    <string>gershayimhebrew.glif</string>
    <key>gimeldageshhebrew</key>
    <string>gimeldageshhebrew.glif</string>
    <key>gimelhebrew</key>
    <string>gimelhebrew.glif</string>
    <key>gimelhebrew.001</key>
    <string>gimelhebrew.001.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hatafpatahhebrew</key>
    <string>hatafpatahhebrew.glif</string>
    <key>hatafqamatshebrew</key>
    <string>hatafqamatshebrew.glif</string>
    <key>hatafsegolhebrew</key>
    <string>hatafsegolhebrew.glif</string>
    <key>hedageshhebrew</key>
    <string>hedageshhebrew.glif</string>
    <key>hehebrew</key>
    <string>hehebrew.glif</string>
    <key>hethebrew</key>
    <string>hethebrew.glif</string>
    <key>hiriqhebrew</key>
    <string>hiriqhebrew.glif</string>
    <key>holamhaserhebrew</key>
    <string>holamhaserhebrew.glif</string>
    <key>holamhebrew</key>
    <string>holamhebrew.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.alt</key>
    <string>k.alt.glif</string>
    <key>k.alt2</key>
    <string>k.alt2.glif</string>
    <key>kafdageshhebrew</key>
    <string>kafdageshhebrew.glif</string>
    <key>kafhebrew</key>
    <string>kafhebrew.glif</string>
    <key>kafrafehebrew</key>
    <string>kafrafehebrew.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lameddageshhebrew</key>
    <string>lameddageshhebrew.glif</string>
    <key>lamedhebrew</key>
    <string>lamedhebrew.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>longs</key>
    <string>longs.glif</string>
    <key>longst</key>
    <string>longst.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>maqafhebrew</key>
    <string>maqafhebrew.glif</string>
    <key>memdageshhebrew</key>
    <string>memdageshhebrew.glif</string>
    <key>memhebrew</key>
    <string>memhebrew.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.frac</key>
    <string>nine.frac.glif</string>
    <key>nine.smcp</key>
    <string>nine.smcp.glif</string>
    <key>nine.sup</key>
    <string>nine.sup.glif</string>
    <key>nine.tnum</key>
    <string>nine.tnum.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>nundageshhebrew</key>
    <string>nundageshhebrew.glif</string>
    <key>nunhebrew</key>
    <string>nunhebrew.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.ss06</key>
    <string>o.ss06.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.smcp</key>
    <string>one.smcp.glif</string>
    <key>one.sup</key>
    <string>one.sup.glif</string>
    <key>one.tnum</key>
    <string>one.tnum.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.ss06</key>
    <string>p.ss06.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>patahhebrew</key>
    <string>patahhebrew.glif</string>
    <key>pedageshhebrew</key>
    <string>pedageshhebrew.glif</string>
    <key>pehebrew</key>
    <string>pehebrew.glif</string>
    <key>perafehebrew</key>
    <string>perafehebrew.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.ss06</key>
    <string>q.ss06.glif</string>
    <key>qamatshebrew</key>
    <string>qamatshebrew.glif</string>
    <key>qofdageshhebrew</key>
    <string>qofdageshhebrew.glif</string>
    <key>qofhebrew</key>
    <string>qofhebrew.glif</string>
    <key>qubutshebrew</key>
    <string>qubutshebrew.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rafehebrew</key>
    <string>rafehebrew.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>reshdageshhebrew</key>
    <string>reshdageshhebrew.glif</string>
    <key>reshhebrew</key>
    <string>reshhebrew.glif</string>
    <key>reshhebrew.001</key>
    <string>reshhebrew.001.glif</string>
    <key>reshhebrew.002</key>
    <string>reshhebrew.002.glif</string>
    <key>reshhebrew.003</key>
    <string>reshhebrew.003.glif</string>
    <key>reshhebrew.004</key>
    <string>reshhebrew.004.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>samekhdageshhebrew</key>
    <string>samekhdageshhebrew.glif</string>
    <key>samekhhebrew</key>
    <string>samekhhebrew.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>segolhebrew</key>
    <string>segolhebrew.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.frac</key>
    <string>seven.frac.glif</string>
    <key>seven.smcp</key>
    <string>seven.smcp.glif</string>
    <key>seven.sup</key>
    <string>seven.sup.glif</string>
    <key>seven.tnum</key>
    <string>seven.tnum.glif</string>
    <key>sevensub</key>
    <string>sevensub.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
    <key>shevahebrew</key>
    <string>shevahebrew.glif</string>
    <key>shindageshhebrew</key>
    <string>shindageshhebrew.glif</string>
    <key>shindageshshindothebrew</key>
    <string>shindageshshindothebrew.glif</string>
    <key>shindageshsindothebrew</key>
    <string>shindageshsindothebrew.glif</string>
    <key>shindothebrew</key>
    <string>shindothebrew.glif</string>
    <key>shinhebrew</key>
    <string>shinhebrew.glif</string>
    <key>shinshindothebrew</key>
    <string>shinshindothebrew.glif</string>
    <key>shinsindothebrew</key>
    <string>shinsindothebrew.glif</string>
    <key>sindothebrew</key>
    <string>sindothebrew.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.frac</key>
    <string>six.frac.glif</string>
    <key>six.smcp</key>
    <string>six.smcp.glif</string>
    <key>six.sup</key>
    <string>six.sup.glif</string>
    <key>six.tnum</key>
    <string>six.tnum.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>st</key>
    <string>st.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.smcp</key>
    <string>sterling.smcp.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tavdageshhebrew</key>
    <string>tavdageshhebrew.glif</string>
    <key>tavhebrew</key>
    <string>tavhebrew.glif</string>
    <key>tetdageshhebrew</key>
    <string>tetdageshhebrew.glif</string>
    <key>tethebrew</key>
    <string>tethebrew.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.smcp</key>
    <string>three.smcp.glif</string>
    <key>three.sup</key>
    <string>three.sup.glif</string>
    <key>three.tnum</key>
    <string>three.tnum.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesub</key>
    <string>threesub.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tsadidageshhebrew</key>
    <string>tsadidageshhebrew.glif</string>
    <key>tsadihebrew</key>
    <string>tsadihebrew.glif</string>
    <key>tserehebrew</key>
    <string>tserehebrew.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.smcp</key>
    <string>two.smcp.glif</string>
    <key>two.sup</key>
    <string>two.sup.glif</string>
    <key>two.tnum</key>
    <string>two.tnum.glif</string>
    <key>twosub</key>
    <string>twosub.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>uni2074</key>
    <string>uni2074.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>vavdageshhebrew</key>
    <string>vavdageshhebrew.glif</string>
    <key>vavhebrew</key>
    <string>vavhebrew.glif</string>
    <key>vavholamhebrew</key>
    <string>vavholamhebrew.glif</string>
    <key>vavvavhebrew</key>
    <string>vavvavhebrew.glif</string>
    <key>vavyodhebrew</key>
    <string>vavyodhebrew.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>widealefhebrew</key>
    <string>widealefhebrew.glif</string>
    <key>widedalethebrew</key>
    <string>widedalethebrew.glif</string>
    <key>widehehebrew</key>
    <string>widehehebrew.glif</string>
    <key>widekafhebrew</key>
    <string>widekafhebrew.glif</string>
    <key>widelamedhebrew</key>
    <string>widelamedhebrew.glif</string>
    <key>widereshhebrew</key>
    <string>widereshhebrew.glif</string>
    <key>widetavhebrew</key>
    <string>widetavhebrew.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yen.smcp</key>
    <string>yen.smcp.glif</string>
    <key>yoddageshhebrew</key>
    <string>yoddageshhebrew.glif</string>
    <key>yodhebrew</key>
    <string>yodhebrew.glif</string>
    <key>yodyodhebrew</key>
    <string>yodyodhebrew.glif</string>
    <key>yodyodpatahhebrew</key>
    <string>yodyodpatahhebrew.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zayindageshhebrew</key>
    <string>zayindageshhebrew.glif</string>
    <key>zayinhebrew</key>
    <string>zayinhebrew.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.frac</key>
    <string>zero.frac.glif</string>
    <key>zero.smcp</key>
    <string>zero.smcp.glif</string>
    <key>zero.sup</key>
    <string>zero.sup.glif</string>
    <key>zero.tnum</key>
    <string>zero.tnum.glif</string>
    <key>zerosub</key>
    <string>zerosub.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
  </dict>
</plist>
