<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>2146</integer>
    <key>capHeight</key>
    <integer>1456</integer>
    <key>copyright</key>
    <string>Copyright 2014 The Heebo Project Authors.</string>
    <key>descender</key>
    <integer>-555</integer>
    <key>familyName</key>
    <string>Heebo</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>y</key>
        <integer>2389</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>3792</integer>
      </dict>
      <dict>
        <key>name</key>
        <string> [locked]</string>
        <key>y</key>
        <integer>-416</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>1600</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>403</integer>
        <key>y</key>
        <integer>603</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2016/03/30 11:22:10</string>
    <key>openTypeHheaAscender</key>
    <integer>2146</integer>
    <key>openTypeHheaDescender</key>
    <integer>-862</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Oded Ezer</string>
    <key>openTypeNameDesignerURL</key>
    <string>HebrewTypography.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Meir Sadan</string>
    <key>openTypeNameManufacturerURL</key>
    <string>meirsadan.com</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>2146</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-862</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2146</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>862</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-21</integer>
      <integer>0</integer>
      <integer>1178</integer>
      <integer>1209</integer>
      <integer>1456</integer>
      <integer>1477</integer>
      <integer>2146</integer>
      <integer>2162</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-586</integer>
      <integer>-555</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>155</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>196</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>1178</integer>
  </dict>
</plist>
